

{{> navbar/navbar-block saved=true}}

  {{#each articles}}
    {{> articles/article-block}}
  {{/each}}
</div>

<footer class="footer">
  <div class="container">
    <p>New York Times Mongo Scraper</p>
  </div>
</footer>